@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

.highlight {
  position: relative;
  display: inline;
  padding: 0 0.2rem;
}

.highlight::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.2em; /* Adjust height to match the text size */
  background-color: rgb(59 130 246 / 0.2); /* Light Mode Color */
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

.dark .highlight::before {
  background-color: rgb(100 200 220); /* Dark Mode Color */
}

.highlight:hover::before {
  transform: scaleX(1);
}

/* Automatic highlight animation */
.highlight:nth-of-type(1) {
  animation: highlight-animation 1s ease-in-out 0.5s forwards;
}

.highlight:nth-of-type(2) {
  animation: highlight-animation 1s ease-in-out 1s forwards;
}

.highlight:nth-of-type(3) {
  animation: highlight-animation 1s ease-in-out 1.5s forwards;
}

.highlight:nth-of-type(4) {
  animation: highlight-animation 1s ease-in-out 2s forwards;
}

.highlight:nth-of-type(5) {
  animation: highlight-animation 1s ease-in-out 2.5s forwards;
}

.highlight:nth-of-type(6) {
  animation: highlight-animation 1s ease-in-out 3s forwards;
}

@keyframes highlight-animation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

nav {
  display: flex;
  align-items: center; /* Align items vertically */
}

.nav-link {
  @apply text-lg font-medium transition-colors duration-200;
}

.nav-link:hover {
  @apply text-gray-600 dark:text-gray-300;
}

@media (max-width: 767px) {
  .name-title-wrapper {
    margin-top: 1.5rem; /* Adjust this value as needed */
  }
}
.nav-image {
  width: 75px; /* Image width */
  height: 75px; /* Image height */
  margin-right: 1rem; /* Spacing between image and text */
}

/* Define the highlight effect */
.highlight-header {
  position: relative; /* Ensure the pseudo-element is positioned relative to the header */
  display: inline-block; /* Allow the pseudo-element to be positioned correctly */
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Smooth transition for color and shadow */
}

/* Add the highlight effect using a pseudo-element */
.highlight-header::before {
  content: ''; /* Create an empty pseudo-element */
  position: absolute; /* Position it absolutely within the header */
  left: 0; /* Align it to the left of the header */
  bottom: -2px; /* Place it slightly below the text */
  width: 100%; /* Make it the full width of the header */
  height: 2px; /* Define the height of the highlight */
  background: teal; /* Highlight color for light mode */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

/* Change the highlight effect on hover */
.highlight-header:hover::before {
  opacity: 1; /* Show the highlight on hover */
}

/* Handle dark mode */
@media (prefers-color-scheme: dark) {
  .highlight-header::before {
    background: lightblue; /* Highlight color for dark mode */
  }

  .highlight-header:hover {
    color: lightblue; /* Change text color on hover in dark mode */
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-4xl font-bold tracking-tight lg:text-5xl;
  }

  h2 {
    @apply text-3xl font-semibold tracking-tight;
  }

  h3 {
    @apply text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply text-xl font-semibold tracking-tight;
  }

  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  .link {
    @apply text-primary hover:text-primary/90;
  }
}

.nav-link {
  @apply rounded-md px-6 py-2 hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none;
}

.nav-link {
  @apply rounded-md px-6 py-2 hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none;
}

/* Specific styling for image link to disable hover and focus effects */
.no-hover {
  @apply hover:bg-transparent hover:text-current focus:bg-transparent focus:text-current;
}

/* Ensure no transition effects on hover for the image */
.nav-link img {
  transition: none; /* Disable transition effects */
}
/* Post styles */

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply border border-neutral-800;
}

.prose code {
  @apply text-neutral-800 dark:text-neutral-200 px-1 py-0.5 border border-neutral-100 dark:border-neutral-800 rounded-lg;
}

.prose pre code {
  @apply text-neutral-800 dark:text-neutral-200;
  border: initial;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-neutral-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}

.prose .callout > p {
  margin: 0 !important;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
  counter-reset: line;
  box-decoration-break: clone;
}
[data-rehype-pretty-code-fragment] .line {
  @apply py-1;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}
[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-slate-500 bg-opacity-10;
}
[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-slate-500 bg-opacity-10 p-1;
}
[data-rehype-pretty-code-title] {
  @apply px-4 py-3 font-mono text-xs font-medium border rounded-t-lg text-neutral-200 border-[#333333] bg-[#1c1c1c];
}
[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none border-t-0;
}